@media screen and (max-width: 1250px) {
  .filling {
    display: flex;
    flex-direction: column;
    height: 130px;
  }

  .main-container {
    height: 190px;
  }

  .add-btn {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 965px) {
  .main-container {
    height: 215px;
  }

  .filling {
    display: flex;
    flex-direction: row;
    margin: 20px auto 10px auto;
  }

  .filling-block-1 {
    display: flex;
    flex-direction: column;
    height: 160px;
  }

  .filling-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
  }

  .add-btn {
    margin-bottom: 65px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 740px) {
  .filling {
    display: flex;
    flex-direction: column;
    height: 240px;
  }

  .main-container {
    height: 270px;
  }

  .add-btn {
    margin: 10px 0 0 0px;
  }

  .input-complaints-container, .input-doctor-container {
    margin-left: 0px;
  }
}

@media screen and (max-width: 580px) {
  .main-container {
    height: 455px;
  }

  .filling {
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filling-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filling-block-1 {
    height: 145px;
  }

  .filling-block-2 {
    margin-top: 40px;
    height: 145px;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 330px;
  }
}

@media screen and (max-width: 460px) {
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 265px;
  }
}

@media screen and (max-width: 380px) {
  .filling-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }

  .filling-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}