.header {
  width: 100%;
  max-width: 1600px;
  height: 117px;
  background-color: #C5E9FF;
  display: flex;
  align-items: center;
  /* box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5); */
}

.logo {
  margin-left: 44px;
}

.logoStr {
  margin-left: 75px;
  font-size: 36px;
}