@media screen and (max-width: 800px) {
  .main-enter {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .photo-enter {
    margin-top: 30px;
  }

  .form {
    margin-top: 30px;
  }
}

@media screen and (max-width: 560px) {
  .logoStr {
      font-size: 26px;
  }
}

@media screen and (max-width: 470px) {
  .logoStr {
    font-size: 16px;
  }
} 

@media screen and (max-width: 450px) {
  .photo-enter {
    width: 85%
  }

  .form {
    width: 90%
  }
}

@media screen and (max-width: 380px) {
  .logoStr {
    margin-left: 40px;
  }
}

@media screen and (max-width: 335px) {
  .logo {
    margin-left: 7px;
  }

  .logoStr {
      margin-left: 20px;
  }
} 